{% extends 'main/base.html'%}

{% block content %}

<div class="col-lg-4">
  <img src="{{image}}" alt="{{ main_item.title | safe }}" >
</div>

<table  style="font-size: 2em;">
  <th>와인 정보</th>
  <tr>
    <td>이름</td>
    <td>{{ main_item.title }}</td>
  </tr>
  <tr>
    <td>생산지역</td>
    <td>{{ main_item.province }}, {{ main_item.country }}</td>
  </tr>
  <tr>
    <td>생산연도</td>
    <td>{{ main_item.year }}</td>
  </tr>
  <tr>
    <td>종류</td>
    <td>{{ main_item.variety }}</td>
  </tr>
  <tr>
    <td>가격</td>
    <td>${{ main_item.price }}</td>
  </tr>
  <tr>
    <td>점수</td>
    <td>{{ main_item.points }}</td>
  </tr>
  <tr>
    <td>생산자</td>
    <td>{{ main_item.winery }}</td>
  </tr>
</table>

{% if recommand %}
<br/>
 <ul id='recommand' style="list-style: none;">
   <li style="font-size: 2em;">
     검색하신 와인을 바탕으로 추천하는 와인입니다
   </li>
   {% for item in recommand %}
   <li style="font-size: 110%;">
     <a href="#" onclick='sendPost(`{{ item }}`);'> {{item | safe}} </a>
   </li>
   {% endfor %}
 </ul>

 <script>
   function sendPost(item) {
     let form = document.createElement('form');
     form.setAttribute('method', 'post');
     form.setAttribute('action', `{% url 'recommand:detail' %}`);
     document.charset = "UTF-8";
     form.innerHTML += `{% csrf_token %}`;

     let itemField = document.createElement('input');
     itemField.setAttribute('type', 'hidden');
     itemField.setAttribute('name', 'title');
     itemField.setAttribute('value', item);
     form.appendChild(itemField);

     let gradeField = document.createElement('input');
     gradeField.setAttribute('type', 'hidden');
     gradeField.setAttribute('name', 'grade');
     gradeField.setAttribute('value', {{ main_item.grade }});
     form.appendChild(gradeField);

     document.body.appendChild(form);
     form.submit();
   }
 </script>
<!-- """https://stormpy.tistory.com/146""" -->
 {% endif %}

{% endblock %}
